<h1>Listing branches</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Calle y No.</th>
    <th>Delegacion</th>
    <th>Estado</th>
    <th>Municipio</th>
    <th>Tel&eacute;fono</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @branches.each do |branch| %>
  <tr>
    <td><%= branch.name %></td>
    <td><%= branch.street %></td>
    <td><%= branch.delegation %></td>
    <td><%= branch.state %></td>
    <td><%= branch.town %></td>
    <td><%= branch.phone %></td>    
    <td><%= link_to 'Show', branch %></td>
    <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
    <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Sucursal', new_branch_path %>
