<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category_id %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Image:</b>
  <% unless @product.image.blank? %>
    <%= image_tag @product.image.to_s, :size => "200x160" %>
  <% end %>  
</p>

<p>
  <b>QR Code:</b>
  <% unless @product.qr_code_img.blank? %>
    <%= image_tag @product.qr_code_img.to_s, :size => "200x160" %>
  <% end %>
</p>

<p>
  <b>Video:</b>
  <%=  @product.video %>

</p>


<%= link_to 'Edit', edit_category_product_path(@product.category, @product) %> |
<%= link_to 'Back', category_products_path(@product.category) %>
