<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category_id %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @product.image_url.to_s, :size => "200x160" %>
  
</p>

<p>
  <b>Video:</b>
  <%= @product.video %>
</p>


<%= link_to 'Edit', edit_category_product_path(@product.category, @product) %> |
<%= link_to 'Back', category_products_path(@product.category) %>
