<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Nike", root_path, id: "logo" %>
      <nav>
        <% if signed_in? %>
          <ul class="nav pull-right">
            <li><%= link_to "Categorías de productos", categories_path %></li>
            <li><%= link_to "Sucursales", branches_path %></li>
            <li><%= link_to "Comerciales", commercials_path %></li>
            <li><%= link_to "SMS users", participants_path %></li>
            <li><%= link_to "Signout", signout_path, method: "delete" %></li>
          </ul>
        <% end %>  
      </nav>
    </div>
  </div>
</header>
